<mat-spinner *ngIf="loading"></mat-spinner>
<mat-list *ngIf="!loading">
  <mat-list-item *ngFor="let question of questions" [routerLink]="['/questions', question._id]">
		<i mat-list-icon class="{{question.icon === 'none' ? 'material-icons' : question.icon}} icon">{{question.icon === 'none' ? 'help' : ''}}</i>
    <h3 mat-line>{{question.title}}</h3>
    <p mat-line>
			<small>{{question.answers.length}} respuestas - {{question.createdAt | amLocale: 'es' | amTimeAgo}}</small>
		</p>
  </mat-list-item>
</mat-list>
<button [routerLink]="['new']" class="add-question" mat-fab color="accent"><span class="material-icons">add</span></button>
